/*
1- mobile (max-width : 767px)
2- ipad  (768px - 992px)
3- laptop (993px - 1200)
4- pc (min -width: 1201 -...)
*/

@media(max-width:767px)  {
    .container{
        width:95%;
        grid-template-areas:
        "article1"
        "article2"
        "article3"
        "article4"
        "article5";
    }
}

@media(min-width:768px) and (max-width:1200px) {
    .container{
        width:95%;
    }
}