:root{
    --main-color:hsl(263, 55%, 52%);
    --main-color-shadow:hsla(263, 55%, 52%, 0.896);
    --dark-grayish-blue:hsl(217, 19%, 35%);
    --very-dark-blachish-blue:hsl(219, 29%, 14%);
    --light: hsl(0, 0%, 100%);
    --light-gray:hsl(0, 0%, 81%);
    --light-gray--shadow:hsla(0, 0%, 81%, 0.7);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --main-font-family:"Barlow Semi Condensed", sans-serif;
    --body-font-size:16px;
}